<!DOCTYPE html>
<html>
  <head>
    <title>Share Your Photos Online-Instapost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  </head>

  <body>
  		<nav>
      <div class="row">
        <div class= "col-lg-6 col-lg-offset-3">
          <div class="row">
            <div class="nav_wrapper">

            <div class="col-xs-6">
              <span class="pull-left brand"><%= link_to 'Instapost', root_path %></span>
            </div>

            <div class="col-xs-6">
  		        <% if user_signed_in? %>
             Signed in as <%= current_user.name %>
  		        <span class="nav_links pull-right"><%= link_to 'New Post', new_post_path %></span>
  		        <span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_user_registration_path %></span>
  		        <span class="nav_links pull-right"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></span>
              
  		        <span class="nav_links pull-right"><% else %></span>
  		        <span class="nav_links pull-right"><%= link_to 'Sign Up', new_user_registration_path %></span>
  		       <span class="nav_links pull-right"> <%= link_to 'Log In', new_user_session_path %></span>

  		        <% end %>	
            </div>
          </div>
        </div>
      </div>
     </div>
  			</nav>
    
    <%= yield %>
  </body>
</html>
